---

- name: Check if running on systemd
  stat: path=/sbin/init
  register: sbin_init
  changed_when: false
  check_mode: no

- name: Establish some role-related facts
  set_fact:
    mongodb_major_version: "{{ mongodb_version[0:3] }}"

- name: Disable transparent huge pages on systemd systems
  include_tasks: disable_transparent_hugepages.yml
  when:
    - mongodb_disable_transparent_hugepages
    - ansible_service_mgr == "systemd"

- name: Add APT key
  apt_key:
    keyserver: "{{ mongodb_apt_keyserver }}"
    id: "{{ mongodb_apt_key_id[mongodb_major_version] }}"
  when: mongodb_package == 'mongodb-org'

- name: Fail when used wrong mongodb_version variable with Debian Stretch
  fail:
    msg: "mongodb_version variable should be '3.6' or '4.0' for Debian Stretch"
  when: (mongodb_package == 'mongodb-org' and
        (mongodb_version is not defined
         or mongodb_repository[mongodb_major_version] is not defined
         or (mongodb_version != '3.6' and mongodb_version != '4.0'))
         and (ansible_distribution_release == 'stretch' and ansible_distribution_release == 'jessie'))

- name: Fail when used wrong mongodb_version variable with Ubuntu 18.04
  fail:
    msg: "mongodb_version variable should be '4.0' or else mongodb_package should be 'mongodb' for Ubuntu 18.04"
  when:
    - mongodb_package == 'mongodb-org'
    - mongodb_version != '4.0'
    - ansible_distribution_release == "bionic"

- name: Fail when used wrong mongodb_version variable
  fail:
    msg: "mongodb_version variable should be '3.4', '3.6' or '4.0'"
  when: (mongodb_package == 'mongodb-org' and
        (mongodb_version is not defined
         or mongodb_repository[mongodb_major_version] is not defined))

- name: Add APT repository
  apt_repository: repo="{{ mongodb_repository[item] }}" update_cache=yes
  with_items: "{{ mongodb_major_version }}"
  when: mongodb_package == 'mongodb-org'

- name: Install MongoDB and numactl packages
  apt:
    name:
      - "{{ mongodb_package }}"
      - numactl
    state: "{{ mongodb_package_state }}"
    update_cache: true

- name: Add systemd configuration if present
  copy: src=mongodb.service dest=/lib/systemd/system/mongodb.service owner=root group=root mode=0644
  when: ansible_service_mgr == "systemd"

- name: Add symlink for systemd
  file: src=/lib/systemd/system/mongodb.service dest=/etc/systemd/system/multi-user.target.wants/mongodb.service state=link
  when: ansible_service_mgr == "systemd"

- block:
    - meta: flush_handlers
  when: ansible_service_mgr == "systemd"

- name: Install PyMongo package
  apt:
    name: python-pymongo
  when: not mongodb_pymongo_from_pip

- name: Install PIP
  apt:
    pkg:
      - python-dev
      - python-pip
  when: mongodb_pymongo_from_pip

- name: Install PyMongo from PIP
  pip:
    name: pymongo
    state: "{{ mongodb_pymongo_pip_version is defined | ternary('present', 'latest') }}"
    version: "{{ mongodb_pymongo_pip_version | default(omit) }}"
  when: mongodb_pymongo_from_pip
