# {{ ansible_managed }}

auth = {{ mongodb_conf_auth }}
bind_ip = {{ mongodb_conf_bind_ip }}
cpu = {{ mongodb_conf_cpu }}
dbpath = {{ mongodb_conf_dbpath }}
fork = {{ mongodb_conf_fork }}
httpinterface = {{ mongodb_conf_httpinterface }}
ipv6 = {{ mongodb_conf_ipv6 }}
journal = {{ mongodb_conf_journal }}
logappend = {{ mongodb_conf_logappend }}
logpath = {{ mongodb_conf_logpath }}
maxConns = {{ mongodb_conf_maxConns }}
noprealloc = {{ mongodb_conf_noprealloc }}
noscripting = {{ mongodb_conf_noscripting }}
notablescan = {{ mongodb_conf_notablescan }}
port = {{ mongodb_conf_port }}
quota = {{ mongodb_conf_quota }}
quotaFiles = {{ mongodb_conf_quotaFiles }}
syslog = {{ mongodb_conf_syslog }}

{% if mongodb_conf_replSet %}
# Replica set options:
replSet = {{ mongodb_conf_replSet }}
replIndexPrefetch = {{ mongodb_conf_replIndexPrefetch }}
{% endif %}
