[mongodb-org-{{ mongodb_version }}]
name=MongoDB {{ mongodb_version }} Repository
baseurl={{ mongodb_repository[item] }}
{% if mongodb_repository_gpgkey[item] is defined and mongodb_repository_gpgkey[item] != '' %}
gpgcheck=1
gpgkey={{ mongodb_repository_gpgkey[item] }}
{% else %}
gpgcheck=0
{% endif %}
enabled=1
